.DS_Store

storage/cache/*
!storage/cache/index.html

storage/logs/*
!storage/logs/index.html

storage/session/*
!storage/session/index.html

/public/ci.php

!app/*/.htaccess

composer.lock

/vendor/
/update_framework/
/stabile/
